{% extends "index.twig" %}
{% block title %}
<title>Signup</title>
{% endblock %}


{% block main %}

{% if errors %}

{% include "components/errors.twig" with {"error" : errors} %}

{% endif %}
<a href="index.php" class="back"><-back</a>
    <div class="signup">
      <form action="signup.php" method="post">
      <h3>Login</h3>
      <input type="text" name="fullname" placeholder="Enter your Fullname">
      <br>
      <input type="email" name="email" placeholder="Enter your Email">
      <br>
      <input type="text" name="username" placeholder="Enter desired Username">
      <br>
      <input type="password" name="password" placeholder="Entered desired Password">
      <br>
      <input type="password" name="confirmPassword" placeholder="Confirm Password">
      <br>
      <input type="date" name="birthday">
      <br>
      {% include "components/button.twig" with {"name":"submit","value":"sign up","id":"signup"} %}
      </form>
    </div>
{% endblock %}


{% block style %}

<style>
*{
    padding:0;
    margin:0;
}
.signup{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.signup form {
    display:flex;
    height:38vh;
    flex-direction:column;
}
.signup form h3 {
    padding:20px;
}

.signup form input{
    width: 500px;
    padding: 10px;
}
.back{
    position:absolute;
}

@media (max-width:980px){
    .signup form input{
        width: 95%;
    }
}
</style>

{% endblock %}